.createbudform{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   padding: 5rem;
   
}
.head{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
.budform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 4rem 0.2rem 4rem 0.2rem;
    padding: 2.5rem;
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    /* background: #2e2b2b; */
 
}
.budform label{

    font-size: 1.25rem;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
}
.budform input{
   border-radius: 15rem;
   border-color: black;
   font-size: 1.25rem;
   padding: 0.5rem;
}
.createbtn{
    border: none;
    padding: 0.5rem;
    background: #335cd7;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 10rem;
    margin-top: 2rem;
    
}
@media screen and (max-width: 450px) {
    .budform{
      margin-left: 0.75rem;
      width: 25rem;
    }
}