
.navlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(68, 66, 66);
}
  
.ctr {
  padding-bottom: 3px;
}

.ctr1 {
  padding-bottom: 4px;
}
.navlink {
  text-align: center;
  border: none;
  background: rgb(20, 131, 229);
  width: 10.2rem;
    padding: 0.7rem;
    margin: 1rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  border-radius: 10rem;
}
.delBtn{
    background: transparent;
    border: none;
    font-size: 1.25rem;
    color: white;
}