
.navlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ctr {
  padding-bottom: 3px;
}

.ctr1 {
  padding-bottom: 4px;
}
.navlink {
  text-align: center;
  border: none;
  background: #335cd7;
  width: 10rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  border-radius: 10rem;
}
.delBtn{
    background: transparent;
    border: none;
    font-size: 1.25rem;
    color: white;
}